.mat-drawer-container {
    height: 100dvh;
}

.sidenav {
    width: 100%;
    max-width: 300px;
}

.logo-container {
    min-height: 64px;
    padding: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
}

.menu-items {
    list-style-type: none;
    li {
        padding: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &:hover {
            background-color: rgba(0,0,0,0.04);
        }

        span {
            line-height: normal;
        }
    }
}

.content {
    padding: 16px;
}