.card-container {
  overflow: hidden;
}

.users-table {
    .header-row {
        color: rgba(0,0,0,0.4)
    }
    .data-row:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
}

.add-user-btn {
  position: absolute;
  right: 48px;
  bottom: 48px;
}
